<div id="form" class="pt-8">
  <div class="flex justify-center">
    <label class="" for="title">Poll Question</label>
  </div>
  <div class="flex justify-center">
    <input
      autocomplete="off"
      class="poll-data min-w-0 w-80 max-w-full"
      type="text"
      id="title"
      name="title"
      value="{{title}}"
      >
  </div>
  <div class="flex justify-center pt-6">
    <label class="" for="description">Description (optional)</label>
  </div>
  <div class="flex justify-center">
    <textarea
      autocomplete="off"
      class="poll-data min-w-0 w-80 max-w-full"
      type="text"
      id="description"
      name="description"
      >{{description}}</textarea>
  </div>
  <div class="flex justify-center pt-6">
    <label for="require_name">Require participants to give their name?</label>
  </div>
  <div class="flex justify-center">
    <input
      type="checkbox"
      class="poll-data"
      id="require_name"
      name="require_name"
      value="__--true"
      {% if require_name %} checked {% endif %}
      >
  </div>
  <div x-data='{ options: {{options|json}} }'>
    <div class="flex justify-center pt-6">
      <div>Answer Options:</div>
    </div>
    <template x-for="(option, index) in options" x-bind:key="option">
      <div>
        <div class="flex justify-center pt-2" x-bind:id="option.name">
          <input
            autocomplete="off"
            class="poll-data min-w-0 w-80 max-w-full"
            style="border-top-right-radius:0px;border-bottom-right-radius:0px;"
            type="text"
            name="options"
            x-bind:id='"option-" + option.id'
            x-bind:value="option.name"
            >
          <button
            aria-label="Delete Option"
            class="p-1 bg-black text-white border border-l-0 border-black rounded-r hover:shadow-lg hover:bg-white hover:text-black active:bg-red-800 active:text-white"
            x-on:click="options.splice(index, 1)"
            >
            ✕
          </button>
        </div>
      </div>
    </template>
    <div class="flex justify-center pt-2">
      <button
        class="button"
        x-on:click="options.push({ name: '' })"
        >
        Add Option
      </button>
    </div>
  </div>
</div>
