{% extends "layout.html" %}

{% block content %}
<div id="form">
  <div class="">
    <label class="m-auto" for="title">title</label>
  </div>
  <div class="">
    <input type="text" id="title" name="title" value="{{title}}">
  </div>
  <div>
    <label for="require_name">require_name</label>
  </div>
  <div>
    <input type="checkbox" id="require_name" name="require_name" {% if require_name %} checked {% endif %}>
  </div>
</div>
<button hx-post="/poll/{{id}}" hx-swap="#form">
  Save
</button>
{% endblock %}
