<div id="form" class="pt-8">
  <div class="flex justify-center">
    <label class="" for="title">Poll Question</label>
  </div>
  <div class="flex justify-center">
    <input
      autocomplete="off"
      class="min-w-0 w-80 max-w-full"
      type="text"
      id="title"
      name="title"
      value="{{title}}"
      >
  </div>
  <div class="flex justify-center pt-6">
    <label class="" for="description">Description (optional)</label>
  </div>
  <div class="flex justify-center">
    <textarea
      autocomplete="off"
      class="min-w-0 w-80 max-w-full"
      type="text"
      id="description"
      name="description"
      >{{description}}</textarea>
  </div>
  <div class="flex justify-center pt-6">
    <label for="require_name">Require participants to give their name?</label>
  </div>
  <div class="flex justify-center">
    <input
      type="checkbox"
      id="require_name"
      name="require_name"
      value="__--true"
      {% if require_name %} checked {% endif %}
      >
  </div>
  {% include "edit_page_form_options.html" %}
</div>
