<div id="form" class="pt-8">
  <div class="flex justify-center">
    <label class="" for="title">Poll Question</label>
  </div>
  <div class="flex justify-center">
    <input
      autocomplete="off"
      class="min-w-0 w-80 max-w-full"
      type="text"
      id="title"
      name="title"
      value="{{title}}"
      >
  </div>
  <div class="flex justify-center pt-6">
    <label class="" for="description">Description (optional)</label>
  </div>
  <div class="flex justify-center">
    <textarea
      autocomplete="off"
      class="min-w-0 w-80 max-w-full"
      type="text"
      id="description"
      name="description"
      >{{description}}</textarea>
  </div>
  <div class="flex justify-center pt-6">
    <label for="require_name">Require participants to give their name?</label>
  </div>
  <div class="flex justify-center">
    <input
      type="checkbox"
      id="require_name"
      name="require_name"
      value="__--true"
      {% if require_name %} checked {% endif %}
      >
  </div>
  <div class="flex justify-center">
    <div>Answer Options:</div>
  </div>
  {% for option in options %}
    <div class="flex justify-center pt-2">
      <input
        autocomplete="off"
        class="min-w-0 w-80 max-w-full"
        style="border-top-right-radius:0px;border-bottom-right-radius:0px;"
        type="text"
        id="option-{{loop.index0}}"
        name="option-{{loop.index0}}"
        value="{{option.name}}"
        >
      <button
        class="p-1 bg-black text-white border border-l-0 border-black rounded-r hover:shadow-lg hover:bg-white hover:text-black active:bg-red-800 active:text-white"
        >
        ✕
      </button>
    </div>
  {% endfor %}
  <div class="flex justify-center pt-2">
    <button class="button">Add Option</button>
  </div>
</div>
