<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ html_title }} | Poller</title>

    <link rel="stylesheet" href="/assets/styles.css">
    <!-- TODO print styles -->
    <link rel="stylesheet" href="/assets/print.css" media="print">

    <!-- TODO description -->
    <meta name="description" content="Page description">
    <meta property="og:title" content="{{html_title}} | Poller">
    <!-- TODO description -->
    <meta property="og:description" content="Page description">
    <!-- TODO generate cool image, title? graph? -->
    <meta property="og:image" content="https://www.example.com/image.jpg">
    <meta property="og:image:alt" content="Image description">
    <meta property="og:locale" content="en_US">
    <!-- TODO better type? -->
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <!-- TODO figure out configurable url in a reasonable way - askama globals?
    <meta property="og:url" content="https://www.example.com/page">
    <link rel="canonical" href="https://www.example.com/page"> -->

    <!-- TODO icons and manifest -->
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest">
    <meta name="theme-color" content="#FFFF00">
    {% block head %}{% endblock %}
  </head>
  <body hx-ext="json-enc">
    <div class="flex justify-center font-mono p-2"><a href="/">poller</a></div>
    {% block content %}{% endblock %}
    <script src="/assets/htmx.js" type="module"></script>
    <script type="module">
htmx.defineExtension('json-enc', {
  onEvent: function (name, evt) {
    if (name === "htmx:configRequest") {
      evt.detail.headers['Content-Type'] = "application/json";
    }
  },

  encodeParameters : function(xhr, parameters, elt) {
    xhr.overrideMimeType('text/json');
    var newParams = Object.keys(parameters).map(function(k) {
      if (parameters[k] == "__--true") {
        parameters[k] = true;
      }
      return [k, parameters[k]];
    }).reduce(function(obj, [k,v]) {
      obj[k] = v;
      return obj;
    }, {});
    return (JSON.stringify(newParams));
  }
});
    </script>
    <!-- TODO htmx extensions -->
  </body>
</html>
