{% extends "layout.html" %}

{% block content %}
<form
    hx-post="/login"
    >
    <div class="flex flex-col items-center">
        <div class="pt-6">
            <label
                for="name"
                >
                Username
            </label>
        </div>
        <input
            type="text"
            required="required"
            minlength="1"
            id="name"
            name="name"
            >
        <div class="pt-6">
            <label
                for="pass"
                >
                Password
            </label>
        </div>
        <input
            type="password"
            required="required"
            minlength="1"
            id="pass"
            name="pass"
            >
        <div class="pt-6">
            <button
                type="submit"
                class="button min-w-10"
                >
                Log in
            </button>
        </div>
    </div>
</form>
{% endblock %}