<form
    class="flex flex-col items-center pt-6"
    hx-put="/user/password"
    hx-swap="outerHTML"
>
    <div>
        <label
            for="pass"
            >
            New Password
        </label>
    </div>
    <input
        type="password"
        required="required"
        id="pass"
        name="pass"
        >
    <div class="pt-4">
        <button
            type="submit"
            class="button min-w-10"
            >
            Change password
        </button>
    </div>
    {% if changed_password %}
        <div class="pt-4">
            Succesfully changed password
        </div>
    {% endif %}
</form>