{% extends "layout.html" %}

{% block content %}
{% include "../users/user_header_links.html" %}
<div>
    <h1 class="text-2xl pt-6 pb-2 text-center">User List</h1>
    {% include "user_list_user_list.html" %}
    <form
        class="flex flex-col items-center pt-10"
        hx-post="/user"
        hx-target="#user-list"
        hx-swap="outerHTML"
    >
        <h2 class="text-lg">Add New User</h2>
        <div class="pt-4">
            <label
                for="name"
                >
                Username
            </label>
        </div>
        <input
            type="text"
            required="required"
            id="name"
            name="name"
            >
        <div class="pt-4">
            <label
                for="pass"
                >
                Password
            </label>
        </div>
        <input
            type="password"
            required="required"
            id="pass"
            name="pass"
            >
        <div class="pt-4">
            <button
                type="submit"
                class="button min-w-10"
                >
                Create new user
            </button>
        </div>
    </form>
</div>
{% endblock %}